<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
</head>
<body>
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

      <div id="app">
          <h1>{{titulo}}</h1>
          <div v-if="comprou">
            <p>{{conteudo}}</p>
            <p>Liberado: {{comprou ? 'Sim' : 'Não comprou, compre aqui'}}</p>
            <input v-model="cor" type="color">
            {{cor }}
          </div>
          <a :href="comprou ? href : '' ">{{href}}</a>

    </div>

      <script>

             const { createApp } = Vue;
        

                createApp({
                data() {
                    return {
                      titulo: "Curso de JavaScript",
                      conteudo: "Esse é o conteúdo",
                      comprou: true,
                      href:"https://www.origamid.com/",
                      cor: "#333"
                    };
                },
                }).mount("#app");

      </script>
</body>
</html>